body
{	
	text-align: center;	
	background: #FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 75%;
	color: #333;
}

/**********************************************TYPOGRAPHY**********************************************/
h1, h2, h3, h4, h5, h6, p{
    margin: 0 0 1em 0;
}

h1{ font-size: 1.6em; }
h2{ font-size: 1.4em; }
h3{ font-size: 1.2em; }
h4{ font-size: 1.0em; }

a:link		{ color: #003366; }
a:visited	{ color: #003366; }
a:active	{ color: #003366; }
a:hover		{ color: #003366; }

textarea{ font-size:100%; font-family:Verdana, Geneva, sans-serif; }

.red,
.error{
	color: #990000;
}

label.error{ margin: 0 10px;}

.left{ text-align: left; }
.center{ text-align: center; }
.right{ text-align: right; }

.bold{ font-weight:bold;}
.italic{ font-style:italic;}

.fleft{ float: left;}
.fright{ float: right;}

#supercontainer{
	width: 975px;
	margin: 0 auto;
	color: #003366;
	text-align: left;
}

#header{
	margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #003366;
}

#header #logo{
    display: block;
    float: left;
    font-size: 1.4em;
    height: 0;
    width: 300px;
    padding-top: 100px;
    background: url('../images/logo.png') center left no-repeat;
    overflow: hidden;
}

#header #userbar{
    float: right;
}

#content{
	margin: 10px 0;
}

#footer{
	margin: 10px 0;
    padding-top: 10px;
    border-top: 1px solid #003366;
}

#loading{
    height: 20px;
    background: url('../images/loading.gif') center center no-repeat;
}


.shadowbox{
    padding: 10px;
    border: 1px solid #666666;
    margin: 10px 0 20px 0;
    background: #EEE;
  -webkit-border-radius: 10px;
          border-radius: 10px;
          
          
  -webkit-box-shadow: 2px 2px 4px 0px #999999;
          box-shadow: 2px 2px 4px 0px #999999;
}

.film_info img{
    display: block;
    min-width: 400px;
    background: #ddd url('../images/circle_loading.gif') center center no-repeat;
    min-height: 400px;
    text-align: center;
    
}