<div id='add' class='shadowbox'>
    <a name="add"></a>
    <h3>Add a film</h3>
    <p>To add a film to the database, enter its name or IMDB ID.</p>
    <p>This can be located in the URL of the film when viewing in IMDB (e.g.: <a href="http://www.imdb.com/title/tt1446714/" target="_blank">Prometheus</a> <em>or</em> <a href="http://www.imdb.com/title/tt1446714/" target="_blank">tt1446714</a> );
    
    <div>
        <form action="ajax/check_name" id="name_check" class='validate'>
            <label style='display: inline-block; width:100px; text-align: right; font-weight: bold; margin-right:5px;'>Film name:</label>
            <input type='text' name='film_name' class='required' style="margin-right:10px;"/>
            <input type="submit" value="Check"/>
        </form>
        <form action="ajax/check_id" id="id_check" class='validate'>
            <label style='display: inline-block; width:100px; text-align: right; font-weight: bold; margin-right:5px;'>IMDB Film ID:</label>
            <input type='text' name='imdb_id' class='required' style="margin-right:10px;"/>
            <input type="submit" value="Check"/>
        </form>
    </div>
</div>

<div id='loading' style='display:none;'></div>
<div id='results' style='display:none;'></div>


<div id='browse' class='shadowbox'>
<h3>All Films</h3>
    <a name="browse"></a>
    <p>Browse through the film collection below!</p>
    <p>If you see something you like, rate it on a 1-5 scale.</p>
    <div id='all_films'>{ALL_FILMS}</div>
</div>
<script type='text/javascript'>
    var oTable;
    dataTableOptions.fnDrawCallback = function(){ setAllVotes(); };        
    dataTableOptions.aoColumnDefs = [ 
        { "bVisible": false, "aTargets": [ 6 ] },
        { "iDataSort": 6, "aTargets": [ 7 ] }
    ];
    
    $(document).ready( init );
    
    function init(){
        oTable = $('#filmsTable').dataTable(dataTableOptions);
        
        $('.validate').validate();
        
        $('#name_check, #id_check').submit( checkFilm );
        
        $('#add_another').live('click', addAnotherFilm );
        
        initRatings();
    }
    
    function addAnotherFilm(event){
        event.preventDefault();
        $('#add').show();
        $('#loading, #results').hide();
        
        $('input[name=film_name]').val('').focus();
        $('input[name=imdb_id]').val('');
    }
    
    function checkFilm(event){
        event.preventDefault();
        var form = $(this);
        
        if( form.valid() ){ 
            $('#add').hide();
            $('#loading').show();
            $('#results').html( '' ).hide();
            
            //Call the ajax service to retrieve the film
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                method: 'json'
            }).done( function(data){
                $('#loading').hide();
                
                if( data.error ){
                    $('#add').show();
                    $('#results').html( data.error ).show();
                } else {
                    $('#results').html( data.html ).show();
                    $('#all_films').html( data.all_films );
                    oTable = $('#filmsTable').dataTable(dataTableOptions);
                }
            }).error( function(e){
                $('#loading').hide();
                $('#add').show();
                $('#results').html( "<p class='error'>There was an error loading your film.<\/p>").show();
            });
        }
    }
</script>