<div class='film_info shadowbox cf'>
    <div style='float: left; margin: 0 10px 0 0;'>
        <a class='lightbox' href='/thumb.php?file={F_IMAGE}&size=600' title='{F_TITLE}'><img src="/thumb.php?file={F_IMAGE}&sizex=300" alt='{F_TITLE} Poster' border="0"/></a>
    </div>
    
    <div style='float: left;'>
        <h4>Title</h4>
        <p>{F_TITLE}</p>

        <h4>Year</h4>
        <p>{F_YEAR}</p>

        <h4>Runtime</h4>
        <p>{F_RUNTIME}</p>

        <h4>Director</h4>
        <p>{F_DIRECTOR}</p>

        <h4>Actors</h4>
        <p>{F_ACTORS}</p>

        <h4>Genres</h4>
        <p>{F_GENRES}</p>
        
        <h4>IMDB ID</h4>
        <p>{F_IMDB_ID}</p>
        
        <h4>Your Rating</h4>
        <p>{VOTE_INFO}</p>
        
        {F_ADMIN}
    </div>    
</div>