<div class='film_info cf'>
    <div style='float: left; margin: 0 10px 0 0;'>
        <img src="http://www.pickr.com/thumb.php?file={F_IMAGE}&sizex=200" alt='{F_TITLE} Poster' border="0"/>
    </div>
    
    <div style='float: left;'>
        <h4>Title</h4>
        <p>{F_TITLE}</p>

        <h4>Year</h4>
        <p>{F_YEAR}</p>

        <h4>Runtime</h4>
        <p>{F_RUNTIME}</p>

        <h4>Director</h4>
        <p>{F_DIRECTOR}</p>

        <h4>Actors</h4>
        <p>{F_ACTORS}</p>

        <h4>Genres</h4>
        <p>{F_GENRES}</p>
    </div>    
</div>