<h2>Hey {MY_U_FNAME}!</h2>
<p>Welcome to Pickr!</p>

<div class='cf'>
    <div class='fleft' style='width:33%;'>
        <div class='shadowbox' style='margin-right: 10px;'>
            <h3>Films</h3>
            <p>Why not <a href='/films#add'>add a film</a>, or <a href='/films#browse'>browse the library</a> and vote!</p>     
        </div>
    </div>
    <div class='fleft' style='width:34%;'>
        <div class='shadowbox' style='margin-left: 10px; margin-right: 10px;'>
            <h3>Genres</h3>
            <p>Try browsing by <a href='/genres'>genre</a>...</p>     
        </div>
    </div>
    <div class='fleft' style='width:33%;'>
        <div class='shadowbox' style='margin-left: 10px;'>
            <h3>Results</h3>
            <p>See which films are <a href='/results'>leading the way</a>...</p>     
        </div>
    </div>
</div>

<h2>Your Votes</h2>
<p>Check out which films you have voted for on the <a href='/films#browse'>Films</a> page.</p>
<div id='your_films' class='shadowbox'>{YOUR_FILMS}</div>