<h2>Hey {MY_U_FNAME}!</h2>
<p>Welcome to Pickr!</p>

<div class='cf'>
    <div class='fleft' style='width:33%;'>
        <div class='shadowbox' style='margin-right: 10px;'>
            <h3>Films</h3>
            <p>Why not <a href='/films#add'>add a film</a>, or <a href='/films#browse'>browse the library</a> and vote!</p>     
        </div>
    </div>
    <div class='fleft' style='width:34%;'>
        <div class='shadowbox' style='margin-left: 10px; margin-right: 10px;'>
            <h3>Genres</h3>
            <p>Try browsing by <a href='/genres'>genre</a>...</p>     
        </div>
    </div>
    <div class='fleft' style='width:33%;'>
        <div class='shadowbox' style='margin-left: 10px;'>
            <h3>Results</h3>
            <p>See which films are <a href='/results'>leading the way</a>...</p>     
        </div>
    </div>
</div>

<h2>Suggestions</h2>
<div id='suggestions' class='cf'></div>

<script type='text/javascript'>
$(document).ready( homeInit );    

function homeInit(){
    loadSuggestions( 8, false, null );
    initRatings();
}

function loadSuggestions( count, append, widget ){
    var existing = new Array();
    $('#suggestions .suggestion').each( function(i){
        existing.push( $(this).data('imdbid') );
    });
    
    $.post(
        '/ajax/suggestions',  
        {count:count, existing:existing},  
        function(data) {  
            if( widget != null ){
                widget.closest('.suggestion').fadeOut('1000', function(){ 
                if( append )
                    $('#suggestions').append( data.html );
                else
                    $('#suggestions').html( data.html );
                });
            } else {
                if( append )
                    $('#suggestions').append( data.html );
                else
                    $('#suggestions').html( data.html );
            }
            
            initLightbox();
        },  
        'json'  
    );
}

</script>